In [2]:
## note that active directory is already set in the call to import below
## refer to line 37 and line 38 of the function file

from function_file_news_corpus import *

In [4]:
news_df = pd.read_pickle('final_clean_hindu_corpus.pkl')
news_df.drop(['DateTime'], axis = 1, inplace = True)

news_df.head()

,text,Heading,original_text,doct_no,aadhaar_count,num_date
0,passion commitment research bedrock effort aim...,from aspiration to action,passion commitment and research are the bedro...,1,3,20180324
1,sudden spurt abroad seek police clearance cert...,single window for police clearance certificates,after sudden spurt in people going abroad see...,2,1,20180320
2,municipal commissioner hari narayanan instruct...,firm action to ensure waste segregation,municipal commissioner m. hari narayanan has ...,3,2,20180315
3,despite recent reiteration unique_identificati...,despite clause services continue to be denied...,despite recent reiteration by the unique iden...,4,16,20180311
4,state convention democratic alliance knowledge...,flaws in digital india project,the state convention of democratic alliance f...,5,1,20180311

In [5]:
## note that active directory is already set in the call to import below
## use K_m_cluster in line 624 of the function_file_news_corpus.py

K_m_df =  K_m_cluster (29, news_df, 'text', 20 )

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 2614 samples in 0.003s...
[t-SNE] Computed neighbors for 2614 samples in 0.413s...
[t-SNE] Computed conditional probabilities for sample 1000 / 2614
[t-SNE] Computed conditional probabilities for sample 2000 / 2614
[t-SNE] Computed conditional probabilities for sample 2614 / 2614
[t-SNE] Mean sigma: 0.035948
[t-SNE] KL divergence after 250 iterations with early exaggeration: 75.721680
[t-SNE] Error after 1000 iterations: 1.112893

In [6]:
K_m_df.head()

,x,y,cluster,text,colors
0,14.781120,40.565189,9,passion commitment research bedrock effort aim...,#5fdfa8
1,53.794769,15.012349,0,sudden spurt abroad seek police clearance cert...,#6d8dca
2,1.482705,21.317122,9,municipal commissioner hari narayanan instruct...,#5fdfa8
3,-41.495804,-7.041039,21,despite recent reiteration unique_identificati...,#bdd8a3
4,3.621058,-16.292051,21,state convention democratic alliance knowledge...,#bdd8a3